---
import BaseLayoutPagePleine from '../../layouts/BaseLayoutPagePleine.astro';
import BlogPost from '../../components/Blogpost.astro'
export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.md');
  const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
posts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate))
const pageTitle = "Accueil";
---
<BaseLayoutPagePleine pageTitle={tag}>
  <nav aria-label="Breadcrumb">
    <ol role="list" class="md:hidden flex items-center gap-1 text-sm text-gray-600">
      <li>
        <a href="/" class="block transition hover:text-gray-700">
          <span class="sr-only"> Home </span>
  
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
            />
          </svg>
        </a>
      </li>
      <li class="rtl:rotate-180">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
          />
        </svg>
      </li>
      <li>
        <a href="#" class="block transition hover:text-gray-700"> Tags </a>
      </li>
    </ol>
  </nav>
  <div class="flex justify-center">
    <p class="inline-flex items-center rounded-full bg-blue-50 px-2 py-1 text-xs font-semibold text-blue-600 text-center sm:text-lg"># {tag}</p>
  </div>
  <div class="bg-slate-50 py-6 sm:py-8 lg:py-8">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">  
      <div class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-2 xl:grid-cols-2 xl:gap-8">
        {posts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} date={post.frontmatter.pubDate.slice(0,10)}  image={post.frontmatter.image.url} description={post.frontmatter.description} />)}
      </div>
    </div>
  </div>
</BaseLayoutPagePleine>