---
import BaseLayoutPagePleine from '../../layouts/BaseLayoutPagePleine.astro';
import BlogPost from '../../components/Blogpost.astro';
import HomeButton from '../../components/HomeButton.astro';
export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.md');
  const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft);
  const uniqueTags = [...new Set(nonDraftPosts.map((post) => post.frontmatter.tags).flat())];
  return uniqueTags.map((tag) => {
    const filteredPosts = nonDraftPosts.filter((post) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
posts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate))
const pageTitle = "Accueil";
---
<BaseLayoutPagePleine pageTitle={tag}>

  <div class="flex justify-center">
    <span class="inline-flex items-center px-2 py-1 text-xs font-semibold sm:text-lg">Tag : </span><p class="inline-flex items-center rounded-full bg-blue-50 px-2 py-1 text-xs font-semibold text-blue-600 text-center sm:text-lg"># {tag}</p>
  </div>
  <div class="bg-slate-50 py-6 sm:py-8 lg:py-8">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">  
      <div class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-2 xl:grid-cols-2 xl:gap-8">
        {posts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} date={post.frontmatter.pubDate.slice(0,10)} image={post.frontmatter.image.url} description={post.frontmatter.description} readtime={post.frontmatter.readtime}/>)}
      </div>
    </div>
  </div>
  <div class="text-center mt-8">
    <HomeButton />
  </div>

</BaseLayoutPagePleine>